<h1><%= @post.title %></h1>

<!-- Vulnerable: content rendered with html_safe directly from user input -->
<p><%= @post.content.html_safe %></p> <!-- Potential XSS vulnerability -->

<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<!-- Vulnerable: user input inserted into JavaScript -->
<script>
  var userInput = "<%= params[:input] %>"; <!-- Malicious input can be injected here -->
  document.write(userInput); <!-- Potential for XSS attack -->
</script>
